/* You can add global styles to this file, and also import other style files */
body {
  background-color: #f4f4f4;
}
.main-container {
  width: 100%;
  height: 100vh;
}
.main-container aside {
  width: 20%;
  float: left;
}
.main-container article {
  width: 80%;
  float: left;
}
.card {
  padding: 15px;
  border-radius: 6px;
  background-color: #fff;
}

/*Media queries*/
@media screen and (max-width: 700px) {
  .main-container aside {
    width: 100%;
  }
  .main-container article {
    width: 100%;
    margin-top: 15px;
  }
}
@media screen and (max-width: 1024px) {
  .main-container aside {
    width: 100%;
  }
  .main-container article {
    width: 100%;
    margin-top: 15px;
  }
}
